 .u-section-1 {
  min-height: 758px;
}

.u-section-1 .u-tabs-1 {
  min-height: 705px;
  height: auto;
  margin-top: 1px;
  margin-bottom: 13px;
}

.u-section-1 .u-tab-list-1 {
  background-image: none;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  font-family: "Emblema One";
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  font-family: "Emblema One";
  padding: 10px 25px;
}

.u-section-1 .u-tab-pane-1 {
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-table-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-block-f195-26 {
  height: 46px;
}

.u-section-1 .u-table-body-1 {
  font-family: "Emblema One";
  font-weight: 400;
}

.u-section-1 .u-table-cell-2 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-3 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-4 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-5 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-6 {
  font-weight: 700;
}

.u-block-f195-122 {
  height: 46px;
}

.u-section-1 .u-tab-pane-2 {
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-table-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-block-f195-140 {
  height: 46px;
}

.u-section-1 .u-table-body-2 {
  font-family: "Emblema One";
  font-weight: 400;
}

.u-block-f195-239 {
  height: 46px;
}

.u-section-1 .u-table-3 {
  margin-top: 1px;
  margin-bottom: 0;
}

.u-block-f195-253 {
  height: 46px;
}

.u-section-1 .u-table-body-3 {
  font-family: "Emblema One";
  font-weight: 400;
}

.u-block-f195-346 {
  height: 46px;
}