 .u-section-1 {
  min-height: 566px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
  background-image: none;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 565px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 5px 10px 0;
}

.u-section-1 .u-table-1 {
  width: 187px;
  margin: 0 0 0 auto;
}

.u-block-d3e2-32 {
  height: 46px;
}

.u-section-1 .u-table-body-1 {
  font-size: 1.125rem;
  font-weight: 700;
  font-family: "Emblema One";
  font-style: italic;
}

.u-section-1 .u-table-cell-1 {
  background-image: none;
}

.u-section-1 .u-table-cell-2 {
  background-image: none;
}

.u-section-1 .u-table-cell-3 {
  background-image: none;
}

.u-section-1 .u-table-cell-4 {
  background-image: none;
}

.u-section-1 .u-table-cell-5 {
  background-image: none;
}

.u-section-1 .u-table-cell-6 {
  background-image: none;
}

.u-section-1 .u-table-cell-7 {
  background-image: none;
}

.u-section-1 .u-table-cell-8 {
  background-image: none;
}

.u-section-1 .u-table-cell-9 {
  background-image: none;
}

.u-section-1 .u-table-cell-10 {
  background-image: none;
}

.u-section-1 .u-table-cell-11 {
  background-image: none;
}

.u-block-d3e2-39 {
  height: 46px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 565px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-table-2 {
  margin-bottom: 0;
  margin-top: 5px;
}

.u-block-d3e2-48 {
  height: 46px;
}

.u-section-1 .u-table-body-2 {
  font-family: "Emblema One";
  font-weight: 400;
  background-image: none;
}

.u-section-1 .u-table-cell-12 {
  background-image: none;
}

.u-section-1 .u-table-cell-13 {
  background-image: none;
}

.u-section-1 .u-table-cell-14 {
  background-image: none;
}

.u-section-1 .u-table-cell-15 {
  background-image: none;
}

.u-section-1 .u-table-cell-32 {
  background-image: none;
}

.u-section-1 .u-table-cell-33 {
  background-image: none;
}

.u-section-1 .u-table-cell-48 {
  background-image: none;
}

.u-section-1 .u-table-cell-49 {
  background-image: none;
}

.u-section-1 .u-table-cell-50 {
  background-image: none;
}

.u-section-1 .u-table-cell-51 {
  background-image: none;
}

.u-block-d3e2-63 {
  height: 46px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 565px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 29px 13px 2px;
}

.u-section-1 .u-image-1 {
  width: 101px;
  height: 159px;
  margin: 6px 93px 0 71px;
}

.u-section-1 .u-btn-1 {
  font-family: "Emblema One";
  --animation-custom_in-scale: 0.3;
  border-style: none none solid;
  background-image: none;
  margin: 10px auto 0 2px;
  padding: 13px 19px 15px 18px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 601px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 466px;
    z-index: 0;
  }

  .u-section-1 .u-table-1 {
    width: 152px;
  }

  .u-section-1 .u-table-cell-1 {
    border-style: double;
  }

  .u-section-1 .u-table-cell-4 {
    margin-bottom: 0;
    margin-top: 0;
  }

  .u-section-1 .u-table-cell-5 {
    min-height: 375px;
    margin-bottom: 0;
    margin-top: 0;
  }

  .u-section-1 .u-table-cell-6 {
    min-height: 375px;
    margin-bottom: 0;
    margin-top: 0;
  }

  .u-section-1 .u-table-cell-7 {
    min-height: 375px;
    margin-bottom: 0;
    margin-top: 0;
  }

  .u-section-1 .u-table-cell-8 {
    min-height: 375px;
    margin-bottom: 0;
    margin-top: 0;
  }

  .u-section-1 .u-table-cell-9 {
    min-height: 375px;
    margin-bottom: 0;
    margin-top: 0;
  }

  .u-section-1 .u-table-cell-10 {
    min-height: 375px;
    margin-bottom: 0;
    margin-top: 0;
  }

  .u-section-1 .u-table-cell-11 {
    min-height: 375px;
    margin-bottom: 0;
    margin-top: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    background-position: 50% 0%;
    min-height: 466px;
    z-index: 3;
  }

  .u-section-1 .u-layout-cell-3 {
    z-index: 1;
    min-height: 466px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 58px;
    margin-left: 36px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 493px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-table-1 {
    width: 112px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 32px;
    margin-left: 10px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 684px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 468px;
  }
}